html {
	scroll-behavior: smooth;
}

body {
	color: #4B5D68;
	font-size: 18px;
	line-height: 1;
	background-color: #fff;
}

p,a{
	font-family: 'Avenir Next Cyr';
}

h1,h2,h3,h4,h5{
	font-family: 'HelveticaNeueCyr', sans-serif;
}

/* Utility */
.none {
	display: none !important;
}

.visually-hidden {
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}
